.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

:root {
    --main-bg-color :#161616;
    --icon-bg-color:#2e2e2e;
    --primary-text-color:#f1f1f0;
    --secondary-text-color: #a9a8a8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-text-color);
    font-family: "Roboto", sans-serif;
}